@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (Model == false)
    {
        <p>
            <button onclick="location.href='@Url.Action("Index", "Authorization")'">Connect to Xero</button>
        </p>
    }
    else
    {
        <h5>API Sets</h5>
        <p style="color: grey"> You are connected to your Xero organisation. Try the following operations:</p>

        <h6> Accounting APIs: </h6>

        <section style="margin-left: 10px">
            <p><button onclick="location.href='@Url.Action("Index", "OrganisationInfo")'">Get Organisation Information</button></p>

            <p><button onclick="location.href='@Url.Action("Index", "ContactsInfo")'">Get Contacts</button></p>

            <p><button onclick="location.href='@Url.Action("Index", "InvoiceInfo")'">Get Invoices</button></p>

            <p><button onclick="location.href='@Url.Action("Index", "PaymentInfo")'">Get Payments</button></p>

            <p><button onclick="location.href='@Url.Action("Index", "PrepaymentInfo")'">Get Prepayments</button></p>

            <p><button onclick="location.href='@Url.Action("Index", "OverpaymentInfo")'">Get Overpayments</button></p>

            <p><button onclick="location.href='@Url.Action("Index", "AccountsInfo")'">Get Accounts</button></p>

            <p><button onclick="location.href='@Url.Action("Index", "BankTransactionsInfo")'">Get Bank Transactions</button></p>
        </section>

        <h6> Identity APIs: </h6>

        <section style="margin-left: 10px">

            <p><button onclick="location.href='@Url.Action("Index", "IdentityInfo")'">Get Connections</button></p>
        </section>
    }

</div>